* {
  box-sizing: border-box;
}

.sidebar {
  top: 80px;
  position: sticky;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}

.sidebar-avatar {
  margin-bottom: 10px;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}

.sidebar-top > h4 {
  color: gray;
  font-size: 12px;
}

.sidebar-top > h2 {
  font-size: 18px;
}

.sidebar-top > img {
  margin-bottom: -20px;
  width: 100%;
  height: 60px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
}

.sidebar-stat {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.sidebar-stat > p {
  color: gray;
  font-size: 13px;
  font-weight: 600;
}

.sidebar-stat-number {
  font-weight: bold !important;
  color: blue !important;
}

.sidebar-stats {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white;
}

.sidebar-bottom {
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

.sidebar-bottom > p {
  font-size: 13px;
  padding-bottom: 10px;
}

.sidebar-recent-item {
  display: flex;
  font-size: 13px;
  color: gray;
  font-weight: bolder;
  cursor: pointer;
  padding: 5px;
  align-items: center;
}

.sidebar-recent-item:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  color: black;
  cursor: pointer;
}

.sidebar-hash {
  margin-right: 10px;
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (max-width: 1150px) {
  .sidebar {
    flex: 0.1;
  }
}

@media only screen and (max-width: 980px) {
  .sidebar-bottom {
    display: none;
  }
  .sidebar {
    position: static;
    top: 80px;
    width: 440px;
  }
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 400px;
    margin-top: 30px;
  }

  .sidebar-top {
    margin-right: 0px;
  }

  .sidebar-stats {
    margin-right: 0px;
  }
}
